/* --- fonts --- */
@font-face {
    font-family: "Montserrat";
    src: url("./assets/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight:bold;
}

@font-face {
    font-family: "VG5000";
    src: url("./assets/vg5000/VG5000-Regular.otf") format("opentype");
}

body {
    font-family: Montserrat;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color:#3D3F5C;
}

#container > img {
    max-width: 12em;
}

a {
    text-decoration:none;
    border-bottom: solid 1px transparent;
    color: #829399;
    transition: border-bottom 0.5s ease-in;
}

a:hover {
    border-bottom: solid 1px #8CDFD6;
    color: #829399;
}

code {
    font-size: 125%;
}

body > div {
    text-align: center;
}

body > div > p {
    text-align: center;
    margin:1em auto;
    max-width: min(30em, calc(90vw - 2em));
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: VG5000, mono
}

.highlight {
    margin:auto;
    background-color: #8cdfd6;
    padding: 2em;
}
